{% extends 'main/base.html.twig' %}
{% block body %}
    <style>
        body{
            background: #ececec;
        }
        img {
            height: 600px;
            max-width: 4000px;
            margin-right: 20px;
            padding: 10px;
            background-color: #aacd4e;
            border: 1px solid#222222;
            border-radius: 20px;
        }
        .content{
            margin-top: 50px;
        }
        .product {
            background: #fff none repeat scroll 0 0;
            border: 1px solid #c0c0c0;
            height: 230px;
            overflow: visible;
            padding: 5px 5px;
            position: relative;
            text-align: left;
            transition: all 0.5s ease 0s;
            margin-bottom: 20px;
        }
        .product:hover {
            box-shadow: 0 0 16px rgba(0, 0, 0, 5.5);
        }
        .product-img {
            height: 20px;
            position: relative;
            margin-right: 10px;
        }
        .product-title  {
            color: #000;
            font-weight: 1500;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
        }


        .product-desc {
            max-height: 120px;
            overflow: hidden;
        }
        .product-price {

            left: 0;
            position: relative;
            width: 100%;
            color: #d51e08;
            font-size: 18px;
            font-weight: 500;
        }
    </style>

<div class="row">
    <div class="col-sm-12">
        <div class="product">
            <div class="col ">
                <div class="product-img">
                    <a href="#"><img src="{{book.image}}" alt="" class="float-left"></a>
                </div>
            </div>
            <div class="col pl-2">

                <p class="product-title">{{ book.title }}</p>
                <p class="product-desc" style="text-indent: 20px">
                    {{ book.description }}</p>
                <p class="product-title ">{{ book.author.getAuthorName() }}</p>
                {% for category in categories %}
                    {% for books in category.getBooks() %}
                        {% if books.id == book.id %}
                            <span class="product-title ">{{ category.getCategoryName() }}</span>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('admin_user_update', {'id': book.id }) }}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Редактировать</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}