{% extends 'main/base.html.twig' %}
{% block body %}



<style>
    body{
        background: #ececec;
    }
    img {
        height: 200px;
        max-width: 150px;
        margin-right: 20px;
        padding: 10px;
        background-color: #aacd4e;
        border: 1px solid#222222;
        border-radius: 20px;
    }
    .content{
        margin-top: 50px;
    }
    .product {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #c0c0c0;
        height: 270px;
        overflow: visible;
        padding: 5px 5px;
        position: relative;
        text-align: left;
        transition: all 0.5s ease 0s;
        margin-bottom: 20px;
    }
    .product:hover {
        box-shadow: 0 0 16px rgba(0, 0, 0, 5.5);
    }
    .product-img {
        height: 20px;
        position: relative;
        margin-right: 10px;
    }
    .product-title  {
        color: #000;
        font-weight: 1500;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }


    .product-desc {
        max-height: 120px;
        overflow: hidden;
    }
    .product-price {

        left: 0;
        position: relative;
        width: 100%;
        color: #d51e08;
        font-size: 18px;
        font-weight: 500;
    }

    .bublick
    {
        border-radius: 30px;
        padding: 10px;
        border: 1px solid#222222;
        width: 10%;
    }

    .bublick2
    {
        border-radius: 10px;
        padding: 10px;
        margin: 5px;
        border:  1px solid cornflowerblue;
        width: 40%;
    }


    input[type="radio"] {
        margin-left: 10px;
    }
    input[type="checkbox"] {
        margin-left: 10px;
        position: relative;
        width: 60px;
        height: 20px;
        padding-top: 30px;
        -webkit-appearance: none;
        background: #AA3333;
        outline: none;
        border-radius: 20px;
        transition: .5s;
    }

    input:checked[type="checkbox"] {
        background: #28c3e6;
    }

    input[type="checkbox"]:before {
        width: 20px;
        height: 20px;
        content: '';
        position: absolute;
        border-radius: 20px;
        top: 0;
        left: 0;
        background: #fff;
        transform: scale(1.1);
        transition: .5s;
    }

    input:checked[type="checkbox"]:before {
        background: indigo;
        left: 40px;
    }
</style>

    <div class="container-fluid" style="margin-top: 50px">
        <div class="row">
            <div class="col-md-4" style="background-color: lavender; border: 2px solid#aacd4e; padding: 20px; border-radius: 10px">
                <form class="form-group" method="post" name="form">
                    <div class="list-group">
                        <p class="list-group-item">Жанры:</p>
                        {% for category in categories %}
                        <span class="h4 bg-warning bublick2">{{ category.getCategoryName() }}<input type="checkbox"  name="categoryName" value={{ category.getCategoryName() }}></span>
                        {% endfor %}
                        <input type="submit"  class="btn btn-outline-success my-2 my-sm-0" name="set" value="Найти">
                    </div>
                </form>
                <div class="list-group">
                    <p class="list-group-item bg-secondary text-white">Автор:</p>
                    <form class="form-group" action="{{ path('home') }}" method="post" name="src">
                        <div class="list-group-item ml-4 bg-white text-white">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Укажите Автора:"  name="find">
                            <input type="submit"  class="btn btn-outline-success my-2 my-sm-0" name="set" value="Найти">
                        </div>

                    </form>
                </div>

                <div class="list-group">
                    <p class="list-group-item bg-warning">Кол-во отображенных книг:</p>
                        <h1></h1>
                    <form class="form-group mt-5" method="post" name="form">
                            <span class="h4 bg-warning bublick" >2<input type="radio"  name="num" value="2"></span>
                            <span class="h4 bg-warning bublick">5<input type="radio"   name="num" value="5"></span>
                            <span class="h4 bg-warning bublick mb-5">12<input type="radio"  name="num" value="12"></span>
                        <span><input type="submit" class="btn btn-outline-danger my-2 my-sm-0" name="submit" style="margin-left: 190px" value="Подтвердить"></span>

                    </form>
                </div>
            </div>
            <div class="col-md-8 products" id="books-menu">
                <ul >
                    {%  for book in  appointments %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="product">
                                    <div class="col ">
                                        <div class="product-img">
                                            <a href="{{ path('book_detail', {'id': book.id }) }}"><img src="{{ book.image }}" alt="" class="float-left"></a>
                                        </div>
                                    </div>
                                    <div class="col pl-2">

                                        <p class="product-title">
                                            <a href="{{ path('book_detail', {'id': book.id}) }}">{{ book.title }}</a>
                                        </p>
                                        <p class="product-desc" style="text-indent: 20px">
                                            {{ book.description }}</p>
                                        <p class="product-title ">{{ book.author.getAuthorName() }}</p>
                                        {% for category in categories %}
                                            {% for books in category.getBooks() %}
                                                {% if books.id == book.id %}
                                                    <span class="product-title bg-success">{{ category.getCategoryName() }}</span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="navigation">
                        {{ knp_pagination_render(appointments) }}
                    </div>
                </ul>
            </div>
        </div>

    </div>




{% endblock %}