{% extends 'main/base.html.twig' %}
{% block body %}

    <h1>
        {{ title }}
    </h1>

<style>
    body{
        background: #ececec;
    }
    img {
        height: 200px;
        max-width: 150px;
        margin-right: 20px;
        padding: 10px;
        background-color: #aacd4e;
        border: 1px solid#222222;
        border-radius: 20px;
    }
    .content{
        margin-top: 50px;
    }
    .product {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #c0c0c0;
        height: 230px;
        overflow: visible;
        padding: 5px 5px;
        position: relative;
        text-align: left;
        transition: all 0.5s ease 0s;
        margin-bottom: 20px;
    }
    .product:hover {
        box-shadow: 0 0 16px rgba(0, 0, 0, 5.5);
    }
    .product-img {
        height: 20px;
        position: relative;
        margin-right: 10px;
    }
    .product-title  {
        color: #000;
        font-weight: 1500;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }


    .product-desc {
        max-height: 120px;
        overflow: hidden;
    }
    .product-price {

        left: 0;
        position: relative;
        width: 100%;
        color: #d51e08;
        font-size: 18px;
        font-weight: 500;
    }
</style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    <p class="list-group-item">Жанры:</p>
                    {% for category in categories %}
                        <a href="#" class="list-group-item ml-4 bg-info text-white">{{ category.getCategoryName() }}</a>
                    {% endfor %}
                </div>

                <div class="list-group">
                    <p class="list-group-item bg-secondary text-white">Автор:</p>
                    <form class="form-group" action="{{ path('home') }}" method="post" name="src">
                        <div class="list-group-item ml-4 bg-white text-white">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Укажите Автора:"  name="find" >
                            <input type="button"  class="btn btn-outline-success my-2 my-sm-0" name="set" value="set">
                        </div>

                    </form>
                </div>

                <div class="list-group">
                    <p class="list-group-item bg-warning">Кол-во отображенных книг:</p>
                    <form class="form-group" name="form">
                        <div class="list-group-item ml-4 bg-white text-white">

                            <input type="button" class="btn btn-outline-success my-2 my-sm-0" name="two" value="2">
                            <input type="button"  class="btn btn-outline-success my-2 my-sm-0" name="five" value="5">
                            <input class="btn btn-outline-danger my-2 my-sm-0" type="button" name="twelf" value="10">
                        </div>
                    </form>
                </div>
            </div>


            <script>
                function printForm(e) {
                    let printBlock = document.getElementById("books-menu");
                    printBlock.innerHTML = '';
                    let newDiv = document.createElement('div');
                    newDiv.innerHTML =  `<ul>
                    {%  for book in  appointments %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="product">
                                    <div class="col ">
                                        <div class="product-img">
                                            <a href="#"><img src="https://cdn1.ozone.ru/s3/multimedia-y/6010159846.jpg" alt="" class="float-left"></a>
                                        </div>
                                    </div>
                                    <div class="col pl-2">

                                        <p class="product-title">

                                        </p>
                                        <p class="product-desc" style="text-indent: 20px">
                                            {{ book.description }}</p>
                                        <p class="product-title ">{{ book.author.getAuthorName() }}</p>
                                        {% for category in categoryAndBooks %}
                                            {% if category.bookId.getId() == book.getId() %}
                                            <span class="product-title ">{{ category.categoryId.getCategoryName() }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </ul>
                <div class="navigation">
                            {{ knp_pagination_render(appointments) }}
                        </div>`;
                    printBlock.appendChild(newDiv);
                }
                let printButton = document.form.two;
                printButton.addEventListener("click", printForm());
            </script>

            <div class="col-md-8 products" id="books-menu">
                <ul >
                    {%  for book in  appointments %}

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="product">
                                    <div class="col ">
                                        <div class="product-img">
                                            <a href="#"><img src="{{ book.image }}" alt="" class="float-left"></a>
                                        </div>
                                    </div>
                                    <div class="col pl-2">

                                        <p class="product-title">
                                            <a href="#">{{ book.title }}</a>
                                        </p>
                                        <p class="product-desc" style="text-indent: 20px">
                                            {{ book.description }}</p>
                                        <p class="product-title ">{{ book.author.getAuthorName() }}</p>
                                        {% for category in categoryAndBooks %}
                                            {% if category.bookId.getId() == book.getId() %}
                                            <span class="product-title ">{{ category.categoryId.getCategoryName() }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    <div class="navigation">
                        {{ knp_pagination_render(appointments) }}
                    </div>
                </ul>
            </div>
        </div>

    </div>




{% endblock %}